<div class="tought-form-container">
  <a href="/toughts/dashboard">Voltar</a>
  <h1>Editando o pensamento: {{toughts.title}}</h1>
  <form action="/toughts/update" method="POST">
    <input type="hidden" name="id" value="{{toughts.id}}">
    <div class="form-control">
      <label for="title">Pensamento:</label>
      <input type="text" name="title" placeholder="Digite seu pensamento" value="{{toughts.title}}">
    </div>
    <input type="submit" value="Adicionar">
  </form>
</div>